{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Bienvenidos a E-Commerce{% endblock %}</h1>
{% endblock %}

{% block contenido %}
    <div class="container">
        <div class="row">
          {% for pro in productos %}
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{{ url_for('static', filename='img/tele.jfif') }}" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">{% print(pro[2]) %}</h5>
                  <a href="#" class="btn btn-primary">Comprar online</a>
                </div>
              </div>
          </div>
          {% endfor %}
        </div>
      </div>
{% endblock %}